# Nginx
LISTEN_PORT=80

# App
APP_PORT=8000
APP_HOST=0.0.0.0
APP_RELOAD=false
APP_CPU_COUNT=1

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres

GRAFANA_DB=grafana
GRAFANA_ADMIN_USER=grafana_admin
GRAFANA_ADMIN_PASS=grafana_admin_pass

GRAFANA_RO_USER=grafana_ro
GRAFANA_RO_PASS=grafana_ro_pass

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_USERS_ALLOW_SIGN_UP="false"
GF_SERVER_ROOT_URL=http://localhost/grafana/
GF_PORT=3000
